/* styles.css */
form {
  max-width: 500px;
  margin: 0 auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
}

textarea {
  width: 100%;
  /* Adjust the width as needed */
  height: 100px;
  /* Adjust the height as needed */
  resize: vertical;
  /* Allow vertical resizing */
}

.LoginContainer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#googleSignInBtn,
#googleSignOutBtn {
  margin-bottom: 5px;
  /* 底邊距以區隔兩個按鈕和文字 */
}

.HomelPage {
  position: fixed;
  top: 55px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.material-container {
  display: table;
  justify-content: space-between;
}

.material-object {
  display: flex;
  justify-content: center;
}

.material-container {
  width: 48%;
  margin: 5px;
  min-width: 300px;
  max-width: 300px;
}

.value-container {
  width: 48%;
  margin: 5px;
  min-width: 100px;
  max-width: 100px;
}

.unit-container {
  width: 48%;
  margin: 5px;
}

.button-delete {
  width: 100px;
  padding: 8px;
}

.eposide-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-fill-in {
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-aligned {
  position: absolute;
  left: 0;
}


.materialList {
  position: fixed;
  top: 1;
  left: 0;
  width: 200px; /* 調整容器寬度 */
  height: 90vh; /* 設置高度為視窗高度，使容器占滿整個屏幕高度 */
  overflow-y: auto; /* 垂直滾動條 */
  background-color: #f0f0f0; /* 背景顏色 */
  border-right: 1px solid #ccc; /* 可選，添加右邊框線 */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* 可選，添加陰影效果 */
  padding: 10px; /* 可選，添加內邊距 */
}

.materialList li {
  cursor: pointer;
}

.materialList li.checked::after {
  content: " ✓";
  color: green;
}

.content {
  margin-left: 220px; /* 調整右移量，使其與清單寬度相同加上額外空間 */
  padding: 20px; /* 可選，添加內邊距 */
}